
<div class="tree-node-title">
    <div class="node-menu" id="node{{item.id}}" ng-click="selectNode('treeNodeClick', item, $event)">
        <img ng-if="item.icon" class="node-icon" ng-src="{{item.icon}}" alt="icon">
        {{item.name}}
    </div>
</div>
<ul ng-if="item.child.length">
    <!-- {{item.name}} -->
    <li ng-repeat="item in item.child" ng-include="'./ngTreeFrame.html'">
        
        <!-- <div ng-repeat="item in item.child" ng-include="'ngTreeFrame.html"></div> -->
    </li>
</ul>