/* CSS重置 */
*{margin:0;padding:0;}

.tree-frame {
    margin: 0;
    // padding: 10px;
    list-style: none;
    font-size: 14px;
    height: 100%;

    div, ul, li{
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    & > ul > li{
        display: block;
        margin: 0 auto; 
    }

    ul{
        padding-top: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        justify-content: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s; 

        &:only-child::after, .tree-frame ul:only-child::before {
            display: none;
        }

        li {
            float: none;
            /* float: left; */
            // margin-left: auto;
            // margin-right: auto;
            text-align: center;
            list-style-type: none;
            position: relative;
            padding: 20px 5px 0 5px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s; 

            .tree-node-title {
                display: inline-block;
                position: relative;
                cursor: pointer;

                .node-menu {
                    z-index: 10;
                    text-align: center;
                    white-space: nowrap;
                    padding: 5px;
                    top: 0;
                    padding: 9px 12px;
                    /* right: -100px; */
                    border: 1px solid #9AC7FF;
                    border-radius: 5px;
                    color: #4A4A4A;
                    background-color: #D2E6FF;
                    transition: all .3s;

                    .node-icon{
                        width: 16px;
                    }

                    &:hover {
                        transform: scale(1.1);
                        /* font-size: 20px; */
                    }

                    &.selected{
                        background-color: #4D8CFF;
                        color: #ffffff;
                    }
                }

                // 菜单
                .tree-menu{
                    // border: 1px solid #000000;
                    position: absolute;
                    top: 0;
                    left: 120%;
                    z-index: 9;
                    background-color: #ffffff;
                    border-radius: 4px;
                    transition: all .3s;
                    -webkit-animation-duration: .3s;
                    animation-duration: .3s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;

                    .menu-item{
                        padding: 6px 4px;
                        white-space: nowrap;
                        border-bottom: 1px solid #9ac7ff;
                        border-left: 1px solid #9ac7ff;
                        border-right: 1px solid #9ac7ff;
                        transition: all .3s;

                        &:hover{
                            background-color: #4D8CFF;
                            color: #ffffff;
                            // color: #4D8CFF;
                        }

                        &:first-of-type{
                            border-top: 1px solid #9ac7ff;
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            
                            // 绘制菜单小箭头
                            &:before{
                                border: solid #ffffff00;
                                content: ' ';
                                height: 0px;
                                left: -14px;
                                position: absolute;
                                width: 0px;
                                border-width: 7px;
                                border-right-color: #9ac7fd;
                                top: 10px;
                                transition: all .3s;
                            }
                            &:after{
                                border: solid #ffffff00;
                                content: ' ';
                                height: 0px;
                                left: -11px;
                                position: absolute;
                                width: 0px;
                                border-width: 6px;
                                border-right-color: #ffffff;
                                top: 11px;
                                z-index: 2;
                                transition: all .3s;
                            }
                            &:hover{
                                &:after{
                                    border: solid #ffffff00;
                                    content: ' ';
                                    height: 0px;
                                    left: -11px;
                                    position: absolute;
                                    width: 0px;
                                    border-width: 6px;
                                    border-right-color: #4D8CFF;
                                    top: 11px;
                                    z-index: 2;
                                }
                            }
                        }
                        &:last-of-type{
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
            }
            &::after {
                z-index: 99;
                right: auto;
                left: 50%;
                border-left: 1px solid #ccc;
                z-index: 0;
            }
    
            &:last-child::before {
                border-right: 1px solid #ccc;
                border-radius: 0 5px 0 0;
                -webkit-border-radius: 0 5px 0 0;
                -moz-border-radius: 0 5px 0 0;
                z-index: 0;
            }
    
            &:first-child::after {
                border-radius: 5px 0 0 0;
                -webkit-border-radius: 5px 0 0 0;
                -moz-border-radius: 5px 0 0 0;
                z-index: 0;
            }
    
            &:only-child {
                padding: 0;
            }
    
            &:only-child::after {
                display: none;
            }
            &:only-child::before {
                display: none;
            }
            &:first-child::before{
                border: 0 none;
            }
            &:last-child::after {
                border: 0 none;
            }
    
            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid #ccc;
                width: 50%;
                height: 20px;
                z-index: 0;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid #ccc;
                width: 50%;
                height: 20px;
                z-index: 0;
            }
        }
    }
}

.tree-frame > .tree-frame-ul > li > .tree-node-title > .node-menu{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
    align-items: center;
    display: flex;
}

.tree-frame > ul:first-child > li > a {
    background: #e9f1ff !important;
    border: 1px solid rgba(77, 140, 255, 0.19) !important;
    color: #4D8CFF;
    padding: 15px 20px;
    font-size: 14px;
}

.tree-frame ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    z-index: 0;
}

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }